# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=7a5f7d9e-4d26-4b16-a497-efa967246fc2

    # Set to true to disable all reporting
    B:opt-out=false
}


